@import url("../main.css");
@import url("../utility.css");

.container {
  align-items: flex-start;
  border: 2px solid var(--white);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 1rem;
}

.container > div {
  margin: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-container > label {
  margin-bottom: 0.5rem;
}
