@import url("../main.css");
@import url("../utility.css");

.container > div {
  margin: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-container > label {
  margin-bottom: 0.5rem;
}

.input-container > label {
  font-weight: bold;
}
