@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("./Typography/index.css");
@import url("./utility.css");
@import url("./Button/index.css");

:root {
  --primary-color: #ff4c29;
  --dark-primary-color: #b3541e;
  --primary-bg-color: #082032;
  --secondary-bg-color: #334756;
  --white: #fff;
  --secondary-white: #ccd1e4;
  --black: #000000;
  --grey: #333;
  --error-color: #ff0000;
  --warning-color: #ff7b00;
  --success-color: #104910;
  --spacing-1: 0.5rem;
  --spacing-2: 0.625rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
}

/* Default style reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  color: var(--secondary-color);
}

/* Main section */
#home-section {
  margin-top: 2rem;
}

.mb-text {
  margin-bottom: var(--spacing-2);
}

.home-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 2rem 4rem;
  color: #fff;
}

.left-section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: 1;
}

.hero-img {
  object-fit: cover;
  padding: 0 4rem 4rem 4rem;
  object-fit: cover;
  height: auto;
  width: 100%;
}
