@import url("../main.css");
@import url("../utility.css");

.container > ul {
  margin-left: 1rem;
}

.container > ol {
  margin-left: 1rem;
}

.list {
  margin: 1rem 1rem 1rem 0;
  border-radius: 0.3rem;
  padding: 1rem 1.5rem 1rem 2rem;
}

@media screen and (max-width: 780px) {
  .container {
    padding: 0.5rem;
  }

  .list {
    margin: 1rem 0.5rem 1rem 0;
    padding: 1rem 0.75rem 1rem 1.5rem;
  }
}
