@import url("../main.css");
@import url("../utility.css");
@import url("../Typography/index.css");
@import url("../Button/index.css");
@import url("../Badge/index.css");

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: transparent;
  max-width: 18rem;
  width: auto;
  box-shadow: 0px 2px 1px -1px var(--grey-2), 0px 1px 1px 0px var(--grey-2), 0px 1px 3px 0px var(--grey-2);
}

.card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  padding: 1rem;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
}

.card-description {
  padding-top: 1rem;
}

.card-description > p {
  text-align: center;
}

.card-action {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.horizontal-card {
  display: flex;
  overflow: hidden;
  background: transparent;
  max-width: 40rem;
  box-shadow: 0px 2px 1px -1px var(--grey-2), 0px 1px 1px 0px var(--grey-2), 0px 1px 3px 0px var(--grey-2);
}

.horizontal-card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15.75rem;
  background: transparent;
  padding: 1rem;
}

.horizontal-card-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
  width: 100%;
}

.horizontal-card-action {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.text-card {
  background-color: var(--ternary-white);
  word-wrap: break-word;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 2px 1px -1px var(--grey-2), 0px 1px 1px 0px var(--grey-2), 0px 1px 3px 0px var(--grey-2);
}

.card-width {
  width: 25rem;
}
.badge-text {
  display: flex;
  align-items: center;
}

.badge {
  margin-left: 0.2rem;
  border-radius: 5px;
  color: var(--white);
  font-size: 0.5rem;
  padding: 0.2rem;
  background-color: var(--secondary-color);
}
